<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${group.name}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{fragments/admin_header :: admin_header}"></div>
<div class="container my-5 p-5 bg-white rounded shadow">
    <h1 th:text="${group.name}"></h1>
    <div class="row">
        <div class="col-md-6">
            <form th:action="@{/admin/group/update/{name}(name=${group.name})}" th:object="${groupDTO}" method="post">
                <div class="form-group">
                    <label for="course">Course</label>
                    <select class="form-control" id="course" th:field="*{courseName}">
                        <option th:each="course : ${courses}"
                                th:value="${course.name}"
                                th:text="${course.name}"
                                th:selected="${course.name == groupDTO.courseName}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <select class="form-control" id="status" th:field="*{status}">
                        <option th:each="status : ${T(by.kovalski.alexsystem.entity.Status).values()}"
                                th:value="${status}"
                                th:text="${status}"
                                th:selected="${status == groupDTO.status}">
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>
            <form th:action="@{/admin/group/delete/{name}(name=${group.name})}" method="post">
                <button type="submit" class="btn btn-danger">Delete Group</button>
            </form>
        </div>
        <div class="col-md-3">
            <h3 class="mb-3">Students</h3>
            <ul class="list-unstyled">
                <li th:each="student : ${group.students}">
                    <span th:text="${student.toString()}"></span>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <h3 class="mb-3">Lessons</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:each="lesson : ${group.lessons}">
                    <div class="d-flex justify-content-between align-items-center">
                        <a th:href="@{/admin/lesson/{id}(id=${lesson.id})}" th:text="${lesson.toString()}"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div th:if="${errorMessage != null}" class="alert alert-danger mt-3" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>
</div>
</body>
</html>