<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${lecturer.firstName} + ' ' + ${lecturer.secondName} + ' ' + ${lecturer.thirdName}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{fragments/admin_header :: admin_header}"></div>
<div class="container my-5 p-5 bg-white rounded shadow">
    <h1 th:text="Lecturer + ' ' + ${lecturer.firstName} + ' ' + ${lecturer.secondName} + ' '
                + ${lecturer.thirdName}"></h1>
    <div class="row">
        <div class="col-md-6">
            <form th:action="@{/admin/lecturer/update/{id}(id=${lecturer.id})}" th:object="${lecturerDTO}" method="post">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" th:field="*{firstName}"/>
                </div>
                <div class="form-group">
                    <label for="secondName">Last Name</label>
                    <input type="text" class="form-control" id="secondName" th:field="*{secondName}"/>
                </div>
                <div class="form-group">
                    <label for="thirdName">Third Name</label>
                    <input type="text" class="form-control" id="thirdName" th:field="*{thirdName}"/>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" th:field="*{email}"/>
                </div>
                <div class="form-group">
                    <label for="telephoneNumber">Telephone Number</label>
                    <input type="tel" class="form-control" id="telephoneNumber" th:field="*{telephoneNumber}"/>
                </div>

                <div class="form-group">
                    <label for="status">Status</label>
                    <select class="form-control" id="status" th:field="*{status}">
                        <option th:each="status : ${T(by.kovalski.alexsystem.entity.Status).values()}"
                                th:value="${status}"
                                th:text="${status}"
                                th:selected="${status == lecturerDTO.status}">
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Courses</label>
                    <div class="form-check" th:each="course : ${courses}">
                        <input class="form-check-input" type="checkbox" th:id="${course.name}" th:field="*{courses}"
                               th:value="${course.name}"
                               th:checked="${lecturer.courses.contains(course)} ? 'checked'"/>
                        <label class="form-check-label" th:for="${course.name}" th:text="${course.name}"></label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>
            <form th:action="@{/admin/lecturer/delete/{name}(id=${lecturer.id})}" method="post">
                <button type="submit" class="btn btn-danger">Delete lecturer</button>
            </form>
        </div>
        <div class="col-md-3">
            <h3 class="mb-3">Lessons</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:each="lesson : ${lecturer.lessons}">
                    <div class="d-flex justify-content-between align-items-center">
                        <a th:href="@{/lessons/{id}(id=${lesson.id})}" th:text="${lesson.begin}"></a>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <div th:if="${errorMessage != null}" class="alert alert-danger mt-3" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>
</div>
</body>
</html>