<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{fragments/admin_header :: admin_header}"></div>
<div class="container my-5 p-5 bg-white rounded shadow">
    <h1>Schedule</h1>
    <div class="row">
        <div class="col-md-6">
            <form th:action="@{/admin/schedule}" th:object="${scheduleDTO}" method="post">
                <div class="form-group">
                    <label for="group_name">Group</label>
                    <select class="form-control" id="group_name" th:field="*{groupName}" required>
                        <option th:each="group : ${groups}"
                                th:value="${group.name}"
                                th:text="${group.name}">
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="lecturer_id">Lecturer</label>
                    <select class="form-control" id="lecturer_id" th:field="*{lecturerId}" required>
                        <option th:each="lecturer : ${lecturers}"
                                th:value="${lecturer.id}"
                                th:text="${lecturer.toString()}">
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="begin">Begin Time</label>
                    <input type="time" class="form-control" id="begin" th:field="*{begin}" required>
                </div>

                <div class="form-group">
                    <label for="duration">Duration (in minutes)</label>
                    <input type="number" min="1" class="form-control" id="duration" th:field="*{duration}" required>
                </div>

                <div class="form-group">
                    <label for="start">Start Date</label>
                    <input type="date" class="form-control" id="start" th:field="*{startDate}" required>
                </div>

                <div class="form-group">
                    <label for="end">End Date</label>
                    <input type="date" class="form-control" id="end" th:field="*{endDate}" required>
                </div>

                <div class="form-group">
                    <label>Days of Week</label>
                    <div>
                        <div class="form-check form-check-inline" th:each="day : ${T(java.time.DayOfWeek).values()}">
                            <input class="form-check-input" type="checkbox" th:id="${day}" th:value="${day}" th:field="*{daysOfWeek}">
                            <label class="form-check-label" th:for="${day}" th:text="${day}"></label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="periodicity">Periodicity</label>
                    <select class="form-control" id="periodicity" th:field="*{periodicity}" required>
                        <option th:each="periodicity : ${T(by.kovalski.alexsystem.dto.Periodicity).values()}"
                                th:value="${periodicity}"
                                th:text="${periodicity}">
                        </option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>
        </div>


    </div>
    <div th:if="${errorMessage != null}" class="alert alert-danger mt-3" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>
</div>
</body>
</html>