<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.login}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{fragments/admin_header :: admin_header}"></div>
<div class="container my-5 p-5 bg-white rounded shadow">
    <h1 th:text="${user.login}"></h1>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>Role</th>
                    <td th:text="${user.role}"></td>
                </tr>
            </table>
            <form th:action="@{/admin/user/delete/{login}(login=${user.login})}" method="post">
                <button type="submit" class="btn btn-danger">Delete User</button>
            </form>
        </div>
    </div>
    <div th:if="${errorMessage != null}" class="alert alert-danger mt-3" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>
</div>
</body>
</html>
