<div th:fragment="admin_header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <div class="container">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/admin}">Main</a>
                <a class="nav-item nav-link" th:href="@{/admin/courses}">Courses</a>
                <a class="nav-item nav-link" th:href="@{/admin/groups}">Groups</a>
                <a class="nav-item nav-link" th:href="@{/admin/students}">Students</a>
                <a class="nav-item nav-link" th:href="@{/admin/lecturers}">Lecturers</a>
                <a class="nav-item nav-link" th:href="@{/admin/lessons}">Lessons</a>
                <a class="nav-item nav-link" th:href="@{/admin/parents}">Parents</a>
                <a class="nav-item nav-link" th:href="@{/admin/users}">Users</a>
<!--                <div th:if="${profileLink}">-->
                <!--                    <a class="nav-item nav-link" th:href="@{/profile}" th:text="#{profile.linkLabel}"></a>-->
                <!--                    <a class="nav-item nav-link" th:href="@{/users}" th:text="#{users.pageLabel}"></a>-->
                <!--                </div>-->
                <!--                <div th:unless="${profileLink}">-->
                <!--                    <a class="nav-item nav-link" th:href="@{/login}" th:text="#{loginLabel}">Log in</a>-->
                <!--                    <a class="nav-item nav-link" th:href="@{/registration}" th:text="#{registerLabel}">Register</a>-->
                <!--                </div>-->
                <!--            </div>-->
                <!--            <div class="nav-item dropdown">-->
                <!--                <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                <!--                    <span th:text="#{label.language}">Language</span>-->
                <!--                </a>-->
                <!--                <div class="dropdown-menu" aria-labelledby="languageDropdown">-->
                <!--                    <a class="dropdown-item" href="?language=en" data-th-text="#{label.lang.en}" th:classappend="__${#locale}__ == 'en' ? 'active' : ''"></a>-->
                <!--                    <a class="dropdown-item" href="?language=ru" data-th-text="#{label.lang.ru}" th:classappend="__${#locale}__ == 'ru' ? 'active' : ''"></a>-->
                <!--                </div>-->
                <!--            </div>-->
            </div>
        </div>
    </nav>
</div>