<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${group.name}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{fragments/admin_header :: admin_header}"></div>
<div class="container my-5 p-5 bg-white rounded shadow">
    <div class="row">
        <div class="col-md-6">
            <h1>Group <span th:text="${group.name}"></span> info</h1>
            <p class="mb-3">Course:
                <a th:href="@{/admin/course/{name}(name=${group.course.name})}" th:text="${group.course.name}"/>
            </p>
            <p class="mb-3">Status: <span th:text="${group.status}"></span></p>
        </div>
        <div class="col-md-3">
            <h3 class="mb-3">Students</h3>
            <ul class="list-unstyled">
                <li th:each="student : ${group.students}">
                    <span th:text="${student.firstName}"></span> <span th:text="${student.secondName}"></span>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <h3 class="mb-3">Lessons</h3>
            <ul class="list-unstyled">
                <li th:each="lesson : ${group.lessons}" th:text="${lesson.begin}"></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>